.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  width: 25px;
  height: 25px;
  background-color: var(--blue);
  border-radius: 50%;
}

.dot {
  position: absolute;
  width: 100%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
}
