.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px;
  background-color: wheat;
  color: var(--dark-blue);
  border-radius: 20px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

@keyframes linkHover {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__link i:hover {
  animation: linkHover 1s ease-in-out infinite;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav__dot {
  background-color: var(--blue);
  left: 30px;
}
